<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Parking UdeC</title>
  </head>
  <body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Parking UdeC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
      </li>
      {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">Registrate</a>
          </li>
      {% else %}
          {% if user.es_conductor %}
              <li class="nav-item">
                <a class="nav-link" href="/ver_estacionamientos/{{user.id}}" href="#">Estacionamientos</a>
              </li>
          {% else %}
              <li class="nav-item">
            <a class="nav-link" href="#">Publicar</a>
          </li>
          {% endif %}
      {% endif %}
    </ul>
      {% if user.is_authenticated %}
          <button type="button" class="btn btn-outline-danger" onclick="logout()">Log Out</button>
      {% else %}
          <button type="button" class="btn btn-outline-primary mr-2">Log in</button>
          <button type="button" class="btn btn-outline-success" onclick="registrarme()">Regístrate</button>
      {% endif %}
  </div>
</nav>
    {% block content %}
    {% endblock %}
  <script>
      function logout(){
          location.href = "{% url 'salir' %}";
      }
      function registrarme(){
          location.href = "{% url 'registrarme' %}";
      }
  </script>
  </body>
</html>