

{% extends 'base.html' %}


{% block titulo %}
	Crear viaje
{% endblock %}

<style type="css">



@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Date";
  }
  table tbody tr td:nth-child(2):before {
    content: "Order ID";
  }
  table tbody tr td:nth-child(3):before {
    content: "Name";
  }
  table tbody tr td:nth-child(4):before {
    content: "Price";
  }
  table tbody tr td:nth-child(5):before {
    content: "Quantity";
  }
  table tbody tr td:nth-child(6):before {
    content: "Total";
  }

  tbody tr {
    font-size: 14px;
  }
}


</style>

{% block content %}
    {% if mensaje %}
        <h2 id="mensaje-a-borrar">{{ mensaje }}</h2>
    {% endif %}
     <form  enctype="multipart/form-data" action="" method="POST"> {% csrf_token %}
         <div id="info1">

            {{ form}}
        <input type="submit" class="button primary" value="Listo">
         </div>
         <div id="info2" style="display: none">

            <div id="elementos"> </div>

         </div>

    </form>

<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModal" class="modal" style="width: 100%;height: 100%;position: center" >

  <!-- Modal content -->
  <div class="modal-content" style="width: 80%;height: 90%;position: center;">
    <span class="close-m">&times;</span>

    <div id="map-canvas" style="height: 90%;width: 100%;position: center"></div>
  </div>

</div>
<div id="tarModal" class="modal" style="width: 100%;height: 100%;position: center" >

  <!-- Modal content -->
  <div class="modal-content" style="width: 80%;height: 90%;position: center;">
    <span id="tarClose" class="close-m">&times;</span>

      <p class="no-borrar">  </p>
  </div>

</div>


    <script language="JavaScript" type="text/javascript">
        var cont = 1;
        function elemento_file(x){
        var divele=document.getElementById("elementos");
        if(x==1){
        if(divele.lastChild){
            divele.removeChild(divele.lastChild);
            divele.removeChild(divele.lastChild);
            divele.removeChild(divele.lastChild);
            divele.removeChild(divele.lastChild);
            divele.removeChild(divele.lastChild);
            divele.removeChild(divele.lastChild);
            divele.removeChild(divele.lastChild);
            }
            waypoints.pop();Title
        }
        else {
            salto=document.createElement("br");
            puesto=document.createTextNode("Parada ");
            ele=document.createElement("input");
            ele.required=true;
            ele.id = ele.id.concat("lugar"+cont.toString());
            separador = document.createElement("div");
            separador.className="horizontalgap";
            separador.style.cssFloat="left";
            separador.style.width="10px";
            separador.style.overflow="hidden";
            separador.style.height="1px";
            puesto2=document.createTextNode(" Hora de llegada ");
            ele2=document.createElement("input");
            ele2.id = ele2.id.concat("hora"+cont.toString());
            ele2.type="datetime-local";
            tiempo_inicio = document.getElementById("id_tiempo_inicio").value;
            if(tiempo_inicio){
                ele2.value = tiempo_inicio;
            }
            cont= cont+1;
            separacion=document.createElement("hr");
            ele.type="text";
            ele.name="lugar"+cont.toString();
            ele2.name="hora"+cont.toString();
            divele.appendChild(puesto);
            divele.appendChild(ele);
            divele.appendChild(separador);
            divele.appendChild(puesto2);
            divele.appendChild(ele2);
            divele.appendChild(salto);
            divele.appendChild(separacion);
            autocompletefy(ele.id);
            waypoints.push(ele);
            }
        }
</script>
<script language="JavaScript" type="text/javascript">
    function next_form(){
        var form1 = document.getElementById("info1");
        var  form2 = document.getElementById("info2");
        var sgte = document.getElementById("boton1");
        var formulario_lleno = true;
        form2.style.display = "inline";
        form1.style.display = "none";
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC75CYqTihAVXLfxiYr2VzmaqZnQSBDgEU&libraries=places&callback=onLoaded" async defer></script>
<script language="JavaScript" type="text/javascript">
    function prev_form(){
        form1 = document.getElementById("info1");
        form2 = document.getElementById("info2");
        form1.style.display = "inline";
        form2.style.display = "none";
    }
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
    var map;
    var waypoints = [];
    function validarInput(lat_input,lon_input){
        var location_input = document.getElementById("id_calle");
        lon_input = document.getElementById("id_lon");
        lat_input = document.getElementById("id_lat");
        var geocoder = new google.maps.Geocoder();
            geocoder.geocode(
            {   componentRestrictions:{
                    country: "cl"
                },
                "address": location_input.value
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK)
                {
                    var resultado = results[0];
                    var check = false;
                    lat_input.value=resultado.geometry.location.lat();
                    lat_input.value=lat_input.value.substr(0,10);
                    lon_input.value=resultado.geometry.location.lng();
                    lon_input.value=lon_input.value.substr(0,10);
                    location_input.value = resultado.formatted_address;
                    for(const wea of resultado.address_components){
                        if(wea.types[0]=="administrative_area_level_3"){
                            check=true;
                        }
                    }
                    if(!check){
                        location_input.value="";
                    }
                }
                    else
                {
                    location_input.value="";
                }
            });
    }

    function autocompletefy(element_id){
        var location_input = document.getElementById(element_id);
        var lat_input = document.getElementById('id_lat');
        var lon_input = document.getElementById('id_lon');
        var options = {
          types: ['address'],
          componentRestrictions: {country: "chl"}
        };
        var autocomplete = new google.maps.places.Autocomplete(location_input,options);
        location_input.addEventListener("change", function(){
            validarInput(location_input);
        });
        lupa = document.createElement("i");
        lupa.className = "icon fa-search my-hoverable-icon";

        lupa.style.marginLeft="10px";

        eldiv = document.createElement("div");
        location_input.parentElement.insertBefore(eldiv,location_input.nextSibling);
        eldiv.appendChild(location_input);
        location_input.parentElement.insertBefore(lupa,location_input.nextSibling);

        location_input.style.display="inline";
        var ancho = lupa.offsetWidth    ;
        location_input.addEventListener("click",function(){
           validarInput(lat_input,lon_input);
        });

    }
    var onLoaded = function() {
        autocompletefy('id_calle');

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        setTimeout(function () {
            var borrar = document.getElementById("mensaje-a-borrar");
            if(borrar!=null){
                borrar.parentElement.removeChild(borrar);
            }
        },5000)
    }
</script>


{% endblock %}
